# Men's basketball

In [180]:
import selenium
from selenium import webdriver

In [181]:
import pandas as pd

Scraping 2009-10 roster with Selenium

In [178]:
driver = webdriver.Chrome(executable_path='/Users/kasturipananjady/Desktop/chromedriver2')
driver.get('https://brownbears.com/roster.aspx?path=mbball')

In [17]:
driver.find_element_by_css_selector("#ctl00_cplhMainContent_ddl_past_rosters").click()

In [ ]:
#Navigating through the buttons for 2009-10

In [21]:
driver.find_element_by_css_selector("#ctl00_cplhMainContent_ddl_past_rosters > option:nth-child(11)").click()

In [29]:
list_test = driver.find_elements_by_class_name("sidearm-roster-player-name")

In [30]:
list_test

[<selenium.webdriver.remote.webelement.WebElement (session="2bf2aef1109cb4dbf60785890f4f081d", element="f88bf040-68fb-4532-8f93-c3ce7574a59b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2bf2aef1109cb4dbf60785890f4f081d", element="5b2bee0f-0d40-424c-8de7-97c8e8b8c877")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2bf2aef1109cb4dbf60785890f4f081d", element="a050c78b-bf12-4ee8-9e26-64e826680c2f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2bf2aef1109cb4dbf60785890f4f081d", element="4a525d6c-abe8-4f43-b54c-e8ca65a8cfdc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2bf2aef1109cb4dbf60785890f4f081d", element="ca45a2a4-5341-441b-ba9c-755e40bddd93")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2bf2aef1109cb4dbf60785890f4f081d", element="701e2e87-723b-4a8b-8243-f545125be0cd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2bf2aef1109cb4dbf60785890f4f081d", element="117c13db-944f-40b3-8ed3-4329225863bb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2bf2aef1109cb4dbf60785890f4f081d", element="c1f2fede-a99d-42be-97ee-eb5e4f921df2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2bf2aef1109cb4dbf60785890f4f081d", element="a4fab3d9-129a-4ff9-ad24-634254dd5515")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2bf2aef1109cb4dbf60785890f4f081d", element="22ab4fa2-01cd-46f7-8a89-3942aecd56b1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2bf2aef1109cb4dbf60785890f4f081d", element="8ed7940c-d0cc-438c-9c26-3059c31bd475")>]

In [33]:
list_name = []
for item in list_test:
    list_name += [item.find_element_by_tag_name('a').text]

In [34]:
list_name

['CHRIS TAYLOR',
 'TYLER PONTICELLI',
 'STEVE GRUBER',
 'ADRIAN WILLIAMS',
 'MATT SULLIVAN',
 'MARQUES COLEMAN',
 'PETER SULLIVAN',
 'GARRETT LEFFELMAN',
 'TUCKER HALPERN',
 'ANDREW MCCARTHY',
 'MATT MULLERY']

In [36]:
list_li = driver.find_elements_by_tag_name("li")

In [39]:
list_li
list_info=[]
for item in list_li:
    list_info += [item.text]

In [54]:
list_info[115:-10]

['F 6\'8" 225 LBS\n01\nCHRIS TAYLOR\nJR. PLYMOUTH, MN WAYZATA\nFULL BIO\nHide/Show Additional Information For Chris Taylor',
 'F 6\'8" 215 LBS\n5\nTYLER PONTICELLI\nFR. NORTHBROOK, IL GLENBROOK NORTH\nFULL BIO\nHide/Show Additional Information For Tyler Ponticelli',
 'G 5\'11" 170 LBS\n10\nSTEVE GRUBER\nSR. MILWAUKEE, WI WHITEFISH BAY\nFULL BIO\nHide/Show Additional Information For Steve Gruber',
 'G 6\'1" 180 LBS\n11\nADRIAN WILLIAMS\nJR. ATLANTA, GA WHEELER\nFULL BIO\nHide/Show Additional Information For Adrian Williams',
 'G 6\'6" 205 LBS\n14\nMATT SULLIVAN\nFR. WILLMETTE, IL LOYOLA ACADEMY\nFULL BIO\nHide/Show Additional Information For Matt Sullivan',
 'G 6\'3" 185 LBS\n22\nMARQUES COLEMAN\nSO. GLENDALE, AZ CACTUS\nFULL BIO\nHide/Show Additional Information For Marques Coleman',
 'F 6\'5" 215 LBS\n25\nPETER SULLIVAN\nJR. WILMETTE, IL LOYOLA ACADEMY\nFULL BIO\nHide/Show Additional Information For Peter Sullivan',
 'G 6\'4" 210 LBS\n31\nGARRETT LEFFELMAN\nJR. NAPERVILLE, IL ST. JOSEPH\'S\nFULL BIO\nHide/Show Additional Information For Garrett Leffelman',
 'F 6\'8" 215 LBS\n33\nTUCKER HALPERN\nFR. BROOKLINE, MA NOBLE & GREENOUGH\nFULL BIO\nHide/Show Additional Information For Tucker Halpern',
 'F 6\'8" 205 LBS\n35\nANDREW MCCARTHY\nFR. SUDBURY, MA NORTHFIELD MT. HERMON\nFULL BIO\nHide/Show Additional Information For Andrew McCarthy',
 'F 6\'8" 235 LBS\n45\nMATT MULLERY\nSR. MILLSTONE, NJ ST. JOHN VIANNEY\nFULL BIO\nHide/Show Additional Information For Matt Mullery']

Putting scraped lists into dataframes and using regex to clean

In [59]:
df1=pd.DataFrame(list_info[115:-10])

In [68]:
df1['Position']=df1[0].str.extract('([A-Z])')

In [80]:
df1['Height']=df1[0].str.extract('[A-Z](.*)"')

In [86]:
df1['Weight'] = df1[0].str.extract('[A-Z].*"(.*)')

In [100]:
df1[0]=df1[0].str.replace('\n', '')

In [112]:
df1['Number'] = df1[0].str.extract('[A-Z].*".*LBS([0-9]*)')

In [129]:
df1['Name'] = df1[0].str.extract('[A-Z].*".*LBS[0-9]+([A-Z]*\s[A-Z]*)[A-Z]{2}')

In [131]:
df1

,0,Position,Height,Weight,Number,Name
0,"F 6'8"" 225 LBS01CHRIS TAYLORJR. PLYMOUTH, MN W...",F,6'8,225 LBS,01,CHRIS TAYLOR
1,"F 6'8"" 215 LBS5TYLER PONTICELLIFR. NORTHBROOK,...",F,6'8,215 LBS,5,TYLER PONTICELLI
2,"G 5'11"" 170 LBS10STEVE GRUBERSR. MILWAUKEE, WI...",G,5'11,170 LBS,10,STEVE GRUBER
3,"G 6'1"" 180 LBS11ADRIAN WILLIAMSJR. ATLANTA, GA...",G,6'1,180 LBS,11,ADRIAN WILLIAMS
4,"G 6'6"" 205 LBS14MATT SULLIVANFR. WILLMETTE, IL...",G,6'6,205 LBS,14,MATT SULLIVAN
5,"G 6'3"" 185 LBS22MARQUES COLEMANSO. GLENDALE, A...",G,6'3,185 LBS,22,MARQUES COLEMAN
6,"F 6'5"" 215 LBS25PETER SULLIVANJR. WILMETTE, IL...",F,6'5,215 LBS,25,PETER SULLIVAN
7,"G 6'4"" 210 LBS31GARRETT LEFFELMANJR. NAPERVILL...",G,6'4,210 LBS,31,GARRETT LEFFELMAN
8,"F 6'8"" 215 LBS33TUCKER HALPERNFR. BROOKLINE, M...",F,6'8,215 LBS,33,TUCKER HALPERN
9,"F 6'8"" 205 LBS35ANDREW MCCARTHYFR. SUDBURY, MA...",F,6'8,205 LBS,35,ANDREW MCCARTHY
10,"F 6'8"" 235 LBS45MATT MULLERYSR. MILLSTONE, NJ ...",F,6'8,235 LBS,45,MATT MULLERY

In [133]:
df1['Class Year'] = df1[0].str.extract('[A-Z].*".*LBS[0-9]+[A-Z]*\s[A-Z]*([A-Z]{2})')

In [152]:
df1['Hometown']=df1[0].str.extract('[A-Z].*".*LBS[0-9]+[A-Z]*\s[A-Z]*[A-Z]{2}\.(\s[A-Z]*,\s[A-Z]*)\s')

In [176]:
df_m[0].str.extract('[A-Z].*".*LBS[0-9]+[A-Z]*\s[A-Z]*[A-Z]{2}\.(\s[A-Z]*,\s[A-Z]*)(.*)FULL')

NameError: name 'df_m' is not defined

In [155]:
df1

,0,Position,Height,Weight,Number,Name,Class Year,Hometown,School
0,"F 6'8"" 225 LBS01CHRIS TAYLORJR. PLYMOUTH, MN W...",F,6'8,225 LBS,01,CHRIS TAYLOR,JR,"PLYMOUTH, MN",WAYZATA
1,"F 6'8"" 215 LBS5TYLER PONTICELLIFR. NORTHBROOK,...",F,6'8,215 LBS,5,TYLER PONTICELLI,FR,"NORTHBROOK, IL",GLENBROOK NORTH
2,"G 5'11"" 170 LBS10STEVE GRUBERSR. MILWAUKEE, WI...",G,5'11,170 LBS,10,STEVE GRUBER,SR,"MILWAUKEE, WI",WHITEFISH BAY
3,"G 6'1"" 180 LBS11ADRIAN WILLIAMSJR. ATLANTA, GA...",G,6'1,180 LBS,11,ADRIAN WILLIAMS,JR,"ATLANTA, GA",WHEELER
4,"G 6'6"" 205 LBS14MATT SULLIVANFR. WILLMETTE, IL...",G,6'6,205 LBS,14,MATT SULLIVAN,FR,"WILLMETTE, IL",LOYOLA ACADEMY
5,"G 6'3"" 185 LBS22MARQUES COLEMANSO. GLENDALE, A...",G,6'3,185 LBS,22,MARQUES COLEMAN,SO,"GLENDALE, AZ",CACTUS
6,"F 6'5"" 215 LBS25PETER SULLIVANJR. WILMETTE, IL...",F,6'5,215 LBS,25,PETER SULLIVAN,JR,"WILMETTE, IL",LOYOLA ACADEMY
7,"G 6'4"" 210 LBS31GARRETT LEFFELMANJR. NAPERVILL...",G,6'4,210 LBS,31,GARRETT LEFFELMAN,JR,"NAPERVILLE, IL",ST. JOSEPH'S
8,"F 6'8"" 215 LBS33TUCKER HALPERNFR. BROOKLINE, M...",F,6'8,215 LBS,33,TUCKER HALPERN,FR,"BROOKLINE, MA",NOBLE & GREENOUGH
9,"F 6'8"" 205 LBS35ANDREW MCCARTHYFR. SUDBURY, MA...",F,6'8,205 LBS,35,ANDREW MCCARTHY,FR,"SUDBURY, MA",NORTHFIELD MT. HERMON
10,"F 6'8"" 235 LBS45MATT MULLERYSR. MILLSTONE, NJ ...",F,6'8,235 LBS,45,MATT MULLERY,SR,"MILLSTONE, NJ",ST. JOHN VIANNEY

In [158]:
df1.drop(columns=[0], inplace=True)

In [164]:
df1['Weight (LBS)'] = df1['Weight'].str.extract('(\d\d\d)')

In [161]:
df1.to_csv('2009-bball-men.cvs')

In [168]:
df1.drop(columns='Weight', inplace=True)

In [169]:
df1

,Position,Height,Number,Name,Class Year,Hometown,School,Weight (LBS)
0,F,6'8,01,CHRIS TAYLOR,JR,"PLYMOUTH, MN",WAYZATA,225
1,F,6'8,5,TYLER PONTICELLI,FR,"NORTHBROOK, IL",GLENBROOK NORTH,215
2,G,5'11,10,STEVE GRUBER,SR,"MILWAUKEE, WI",WHITEFISH BAY,170
3,G,6'1,11,ADRIAN WILLIAMS,JR,"ATLANTA, GA",WHEELER,180
4,G,6'6,14,MATT SULLIVAN,FR,"WILLMETTE, IL",LOYOLA ACADEMY,205
5,G,6'3,22,MARQUES COLEMAN,SO,"GLENDALE, AZ",CACTUS,185
6,F,6'5,25,PETER SULLIVAN,JR,"WILMETTE, IL",LOYOLA ACADEMY,215
7,G,6'4,31,GARRETT LEFFELMAN,JR,"NAPERVILLE, IL",ST. JOSEPH'S,210
8,F,6'8,33,TUCKER HALPERN,FR,"BROOKLINE, MA",NOBLE & GREENOUGH,215
9,F,6'8,35,ANDREW MCCARTHY,FR,"SUDBURY, MA",NORTHFIELD MT. HERMON,205
10,F,6'8,45,MATT MULLERY,SR,"MILLSTONE, NJ",ST. JOHN VIANNEY,235

In [177]:
df1.to_csv('2009-bball-men.csv',index=False)

In [171]:
df1['Roster'] = '2019-2020'

In [172]:
df1

,Position,Height,Number,Name,Class Year,Hometown,School,Weight (LBS),Roster
0,F,6'8,01,CHRIS TAYLOR,JR,"PLYMOUTH, MN",WAYZATA,225,2019-2020
1,F,6'8,5,TYLER PONTICELLI,FR,"NORTHBROOK, IL",GLENBROOK NORTH,215,2019-2020
2,G,5'11,10,STEVE GRUBER,SR,"MILWAUKEE, WI",WHITEFISH BAY,170,2019-2020
3,G,6'1,11,ADRIAN WILLIAMS,JR,"ATLANTA, GA",WHEELER,180,2019-2020
4,G,6'6,14,MATT SULLIVAN,FR,"WILLMETTE, IL",LOYOLA ACADEMY,205,2019-2020
5,G,6'3,22,MARQUES COLEMAN,SO,"GLENDALE, AZ",CACTUS,185,2019-2020
6,F,6'5,25,PETER SULLIVAN,JR,"WILMETTE, IL",LOYOLA ACADEMY,215,2019-2020
7,G,6'4,31,GARRETT LEFFELMAN,JR,"NAPERVILLE, IL",ST. JOSEPH'S,210,2019-2020
8,F,6'8,33,TUCKER HALPERN,FR,"BROOKLINE, MA",NOBLE & GREENOUGH,215,2019-2020
9,F,6'8,35,ANDREW MCCARTHY,FR,"SUDBURY, MA",NORTHFIELD MT. HERMON,205,2019-2020
10,F,6'8,45,MATT MULLERY,SR,"MILLSTONE, NJ",ST. JOHN VIANNEY,235,2019-2020

In [173]:
df1['Team'] = "Men's Basketball"

,Position,Height,Number,Name,Class Year,Hometown,School,Weight (LBS),Roster,Team
0,F,6'8,01,CHRIS TAYLOR,JR,"PLYMOUTH, MN",WAYZATA,225,2019-2020,Men's Basketball
1,F,6'8,5,TYLER PONTICELLI,FR,"NORTHBROOK, IL",GLENBROOK NORTH,215,2019-2020,Men's Basketball
2,G,5'11,10,STEVE GRUBER,SR,"MILWAUKEE, WI",WHITEFISH BAY,170,2019-2020,Men's Basketball
3,G,6'1,11,ADRIAN WILLIAMS,JR,"ATLANTA, GA",WHEELER,180,2019-2020,Men's Basketball
4,G,6'6,14,MATT SULLIVAN,FR,"WILLMETTE, IL",LOYOLA ACADEMY,205,2019-2020,Men's Basketball
5,G,6'3,22,MARQUES COLEMAN,SO,"GLENDALE, AZ",CACTUS,185,2019-2020,Men's Basketball
6,F,6'5,25,PETER SULLIVAN,JR,"WILMETTE, IL",LOYOLA ACADEMY,215,2019-2020,Men's Basketball
7,G,6'4,31,GARRETT LEFFELMAN,JR,"NAPERVILLE, IL",ST. JOSEPH'S,210,2019-2020,Men's Basketball
8,F,6'8,33,TUCKER HALPERN,FR,"BROOKLINE, MA",NOBLE & GREENOUGH,215,2019-2020,Men's Basketball
9,F,6'8,35,ANDREW MCCARTHY,FR,"SUDBURY, MA",NORTHFIELD MT. HERMON,205,2019-2020,Men's Basketball
10,F,6'8,45,MATT MULLERY,SR,"MILLSTONE, NJ",ST. JOHN VIANNEY,235,2019-2020,Men's Basketball

In [182]:
df = pd.read_csv('2009-bball-men.csv')

In [184]:
df['Roster'] ='2009-2010'

In [186]:
df.to_csv('2009-bball-men.csv',index=False)