In [1]:
import pandas as pd 
import seaborn as sbs
import matplotlib

In [3]:
df_women = pd.read_csv('clean_women_final.csv')

In [4]:
df_women

,Position,Height,Number,Name,Hometown,School,Roster,Team,Class Year
0,FORWARD,"6'0""",0,ALANA KELLEY,"PHOENIX, ARIZ.",DESERT MOUNTAIN,2019-20,Women's Basketball,SO
1,GUARD,"5'4""",1,LEXI LOVE,"OAKLAND, CALIF.",BISHOP O'DOWD,2019-20,Women's Basketball,FR
2,GUARD,"5'5""",3,DOMINIQUE LEONIDAS,"STONE MOUNTAIN, GA.",PARKVIEW,2019-20,Women's Basketball,JR
3,GUARD,"6'0""",4,JUSTINE GAZIANO,"NATICK, MASS.",NATICK,2019-20,Women's Basketball,SR
4,GUARD,"6'0""",5,MYLA COX,"PETAL, MISS.",PETAL,2019-20,Women's Basketball,FR
...,...,...,...,...,...,...,...,...,...
157,GUARD,"5'10""",23,SHEILA DIXON,"SCHENECTADY, NY",SCHENECTADY,2009-10,Women's Basketball,RS
158,GUARD,"5'10""",25,LINDSAY STEELE,"ERIAL, NJ",TIMBER CREEK,2009-10,Women's Basketball,RS
159,FORWARD,"5'10""",30,AILEEN DANIELS,"WALDWICK, NJ",IMMACULATE HEART ACADEMY,2009-10,Women's Basketball,RS
160,GUARD/FORWARD,"6'0""",32,SARAH DELK,"ATLANTA, GA",WESLEYAN SCHOOL,2009-10,Women's Basketball,RS
161,FORWARD/GUARD,"6'1""",42,TAYLOR MASASCHI,"CHATHAM, MA",CHATHAM,2009-10,Women's Basketball,RS

In [5]:
df_women.dtypes

Position      object
Height        object
Number         int64
Name          object
Hometown      object
School        object
Roster        object
Team          object
Class Year    object
dtype: object

In [6]:
df_women['Roster'].value_counts()

2017-18    17
2018-19    16
2012-13    16
2011-12    16
2009-10    15
2014-15    15
2013-14    15
2010-11    14
2016-17    13
2019-20    13
2015-16    12
Name: Roster, dtype: int64

In [7]:
#Are teams more underclassmen or upperclassmen heavy?

In [10]:
df_women.groupby(by='Roster')['Class Year'].value_counts(normalize=True)

Roster   Class Year
2009-10  RS            0.666667
         JR            0.133333
         SO            0.133333
         SR            0.066667
2010-11  FR            0.500000
         JR            0.285714
         SO            0.214286
2011-12  SO            0.375000
         FR            0.250000
         JR            0.187500
         SR            0.187500
2012-13  JR            0.375000
         SO            0.250000
         FR            0.187500
         SR            0.187500
2013-14  SR            0.333333
         JR            0.266667
         FR            0.200000
         SO            0.200000
2014-15  FR            0.333333
         SR            0.266667
         JR            0.200000
         SO            0.200000
2015-16  FR            0.416667
         SO            0.250000
         SR            0.250000
         JR            0.083333
2016-17  FR            0.461538
         SO            0.384615
         JR            0.153846
2017-18  FR            0.294118
         JR            0.294118
         SO            0.294118
         SR            0.117647
2018-19  FR            0.312500
         SO            0.250000
         SR            0.250000
         JR            0.187500
2019-20  FR            0.384615
         SO            0.307692
         JR            0.153846
         SR            0.153846
Name: Class Year, dtype: float64

In [15]:
df_conversion = pd.read_csv('long_to_wide.csv')

In [16]:
df_conversion.pivot(index='Roster', columns='Class_Year', values='Percent')

Class_Year        FR        JR        RS        SO        SR
Roster
2009-10          NaN  0.133333  0.666667  0.133333  0.066667
2010-11     0.500000  0.285714       NaN  0.214286       NaN
2011-12     0.250000  0.187500       NaN  0.375000  0.187500
2012-13     0.187500  0.375000       NaN  0.250000  0.187500
2013-14     0.200000  0.266667       NaN  0.200000  0.333333
2014-15     0.333333  0.200000       NaN  0.200000  0.266667
2015-16     0.416667  0.083333       NaN  0.250000  0.250000
2016-17     0.461538  0.153846       NaN  0.384615       NaN
2017-18     0.294118  0.294118       NaN  0.294118  0.117647
2018-19     0.312500  0.187500       NaN  0.250000  0.250000
2019-20     0.384615  0.153846       NaN  0.307692  0.153846

In [17]:
#Splitting dataframe into little dataframes based on the year in which people played

In [20]:
df1 = df_women[df_men['Roster']=='2009-10']

In [21]:
df1

,Position,Height,Number,Name,Hometown,School,Roster,Team,Class Year
147,FORWARD,"6'2""",0,CAROLINE KING,"VALENCIA, PA",OAKLAND CATHOLIC,2009-10,Women's Basketball,RS
148,GUARD,"5'6""",3,STHEFANY ALVIAR,"PANORAMA CITY, CA",BIRMINGHAM,2009-10,Women's Basketball,SO
149,FORWARD,"6'0""",4,BETSY JACOBSON,"ROCHESTER, NY",OUR LADY OF MERCY,2009-10,Women's Basketball,JR
150,GUARD,"5'11""",11,LINDSAY NICKEL,"LOS ALTOS, CA",PINEWOOD,2009-10,Women's Basketball,RS
151,GUARD,"5'10""",12,SADIEA WILLIAMS,"LUNENBURG, MA",LUNENBURG,2009-10,Women's Basketball,RS
152,FORWARD,"6'1""",13,NATALIE BONDS,"TAVERES, FL",TAVERES,2009-10,Women's Basketball,SR
153,GUARD,"5'7""",14,CHRISTINA JOHNSON,"OAKLAND, CA",ST. MARY'S,2009-10,Women's Basketball,RS
154,GUARD,"5'8""",15,COURTNEY LEE,"ARCHER, FL",OAK HALL,2009-10,Women's Basketball,RS
155,GUARD,"5'10""",20,HANNAH PASSAFUIME,"SOQUEL, CA",SOQUEL HIGH SCHOOL,2009-10,Women's Basketball,SO
156,GUARD/FORWARD,"6'1""",21,ALYSSA BLOOD,ENGLAND,THE AMERICAN SCHOOL,2009-10,Women's Basketball,JR
157,GUARD,"5'10""",23,SHEILA DIXON,"SCHENECTADY, NY",SCHENECTADY,2009-10,Women's Basketball,RS
158,GUARD,"5'10""",25,LINDSAY STEELE,"ERIAL, NJ",TIMBER CREEK,2009-10,Women's Basketball,RS
159,FORWARD,"5'10""",30,AILEEN DANIELS,"WALDWICK, NJ",IMMACULATE HEART ACADEMY,2009-10,Women's Basketball,RS
160,GUARD/FORWARD,"6'0""",32,SARAH DELK,"ATLANTA, GA",WESLEYAN SCHOOL,2009-10,Women's Basketball,RS
161,FORWARD/GUARD,"6'1""",42,TAYLOR MASASCHI,"CHATHAM, MA",CHATHAM,2009-10,Women's Basketball,RS

In [22]:
df2 = df_women[df_women['Roster']=='2010-11']

In [23]:
df2

,Position,Height,Number,Name,Hometown,School,Roster,Team,Class Year
133,FORWARD,"6'2""",0,CAROLINE KING,"VALENCIA, PA",OAKLAND CATHOLIC,2010-11,Women's Basketball,SO
134,FORWARD,"6'0""",3,JORDIN JUKER,"BOISE, ID",BOISE HIGH SCHOOL,2010-11,Women's Basketball,FR
135,GUARD,"5'6""",10,LAUREN CLARKE,"COLTS NECK, NJ",COLTS NECK,2010-11,Women's Basketball,FR
136,GUARD,"5'8""",11,JACQUELINE SCHONINGER,"NEW YORK, NY",FIELDSTON SCHOOL,2010-11,Women's Basketball,FR
137,GUARD,"5'10""",20,HANNAH PASSAFUIME,"SOQUEL, CA",SOQUEL HIGH SCHOOL,2010-11,Women's Basketball,JR
138,GUARD/FORWARD,"5'11""",21,MAGGIE SMITH,"LILBURN, GA",PARKVIEW HIGH SCHOOL,2010-11,Women's Basketball,FR
139,GUARD,"5'6""",22,LAURA KOBASHIGAWA,"PLAYA DEL REY, CA",BRENTWOOD,2010-11,Women's Basketball,FR
140,GUARD,"5'10""",23,SHEILA DIXON,"SCHENECTADY, NY",SCHENECTADY,2010-11,Women's Basketball,SO
141,FORWARD,"6'1""",24,SOPHIE BEUTEL,"TORONTO, ON",NORTHERN SECONDARY SCHOOL,2010-11,Women's Basketball,FR
142,GUARD,"5'10""",25,LINDSAY STEELE,"ERIAL, NJ",TIMBER CREEK,2010-11,Women's Basketball,JR
143,FORWARD,"5'10""",30,AILEEN DANIELS,"WALDWICK, NJ",IMMACULATE HEART ACADEMY,2010-11,Women's Basketball,JR
144,FORWARD,"6'2""",31,CARLY WELLINGTON,"LAKE OSWEGO, OR",JESUIT HIGH SCHOOL,2010-11,Women's Basketball,FR
145,GUARD,"5'6""",33,STHEFANY ALVIAR,"PANORAMA CITY, CA",BIRMINGHAM,2010-11,Women's Basketball,JR
146,GUARD,"5'11""",44,LINDSAY NICKEL,"LOS ALTOS, CA",PINEWOOD,2010-11,Women's Basketball,SO

In [24]:
df3 = df_women[df_women['Roster']=='2011-12']

In [25]:
df4 = df_women[df_women['Roster']=='2012-13']

In [26]:
df5 = df_women[df_women['Roster']=='2013-14']

In [28]:
df6 = df_women[df_women['Roster']=='2014-15']

In [30]:
df7 = df_women[df_women['Roster']=='2015-16']

In [31]:
df8 = df_women[df_women['Roster']=='2016-17']

In [32]:
df9 = df_women[df_women['Roster']=='2017-18']

In [33]:
df10 =  df_women[df_women['Roster']=='2018-19']

In [34]:
df11= df_women[df_women['Roster']=='2019-20']

In [35]:
#Calculating the intersection of the roster this year with that of the next

In [36]:
df_inner_1 = pd.merge(df1['Name'], df2['Name'], how='inner')

In [37]:
df_inner_2 = pd.merge(df2['Name'], df3['Name'], how='inner')

In [38]:
df_inner_3 = pd.merge(df3['Name'], df4['Name'], how='inner')

In [39]:
df_inner_4 = pd.merge(df4['Name'], df5['Name'], how='inner')

In [40]:
df_inner_5 = pd.merge(df5['Name'], df6['Name'], how='inner')

In [41]:
df_inner_6 = pd.merge(df6['Name'], df7['Name'], how='inner')

In [42]:
df_inner_7 = pd.merge(df7['Name'], df8['Name'], how='inner')

In [43]:
df_inner_8 = pd.merge(df8['Name'], df9['Name'], how='inner')

In [44]:
df_inner_9 = pd.merge(df9['Name'], df10['Name'], how='inner')

In [45]:
df_inner_10 = pd.merge(df10['Name'], df11['Name'], how='inner')

In [ ]:
#Contrasting the number of non-senior players with the players who went on to play the next year

In [46]:
len(df1[df1['Class Year'] != 'SR'])

14

In [47]:
#09-10

In [53]:
len(df1[df1['Class Year'] != 'SR'])

14

In [48]:
len(df_inner_1)

7

In [49]:
#10-11

In [50]:
len(df2[df2['Class Year'] != 'SR'])

14

In [52]:
len(df_inner_2)

12

In [51]:
#11-12

In [54]:
len(df3[df3['Class Year'] != 'SR'])

13

In [55]:
len(df_inner_3)

12

In [ ]:
#12-13

In [56]:
len(df4[df4['Class Year'] != 'SR'])

13

In [57]:
len(df_inner_4)

11

In [58]:
#13-14

In [59]:
len(df5[df5['Class Year'] != 'SR'])

10

In [60]:
len(df_inner_5)

10

In [61]:
#14-15

In [62]:
len(df6[df6['Class Year'] != 'SR'])

11

In [63]:
len(df_inner_6)

7

In [64]:
#15-16

In [65]:
len(df7[df7['Class Year'] != 'SR'])

9

In [67]:
len(df_inner_7)

7

In [ ]:
#16-17

In [68]:
len(df8[df8['Class Year'] != 'SR'])

13

In [69]:
len(df_inner_8)

12

In [70]:
#17-18

In [73]:
len(df9[df9['Class Year'] != 'SR'])

15

In [74]:
len(df_inner_9)

11

In [71]:
#18-19

In [75]:
len(df10[df10['Class Year'] != 'SR'])

12

In [76]:
len(df_inner_10)

8

In [72]:
#Outer  â€” who is leaving?

In [83]:
df1_outer = df1[df1['Class Year'] != 'SR'][~df1[df1['Class Year'] != 'SR']['Name'].isin(df_inner_1['Name'])].dropna()

In [85]:
df2_outer = df2[df2['Class Year'] != 'SR'][~df2[df2['Class Year'] != 'SR']['Name'].isin(df_inner_2['Name'])].dropna()

In [86]:
df3_outer = df3[df3['Class Year'] != 'SR'][~df3[df3['Class Year'] != 'SR']['Name'].isin(df_inner_3['Name'])].dropna()

In [87]:
df4_outer = df4[df4['Class Year'] != 'SR'][~df4[df4['Class Year'] != 'SR']['Name'].isin(df_inner_4['Name'])].dropna()

In [88]:
df5_outer = df5[df5['Class Year'] != 'SR'][~df5[df5['Class Year'] != 'SR']['Name'].isin(df_inner_5['Name'])].dropna()

In [89]:
df6_outer  = df6[df6['Class Year'] != 'SR'][~df6[df6['Class Year'] != 'SR']['Name'].isin(df_inner_6['Name'])].dropna()

In [107]:
df6_outer

,Position,Height,Number,Name,Hometown,School,Roster,Team,Class Year
72,FORWARD,"5'10""",2,SAVANNAH JOHNSON,"FORT WASHINGTON, MD",ELIZABETH SETON,2014-15,Women's Basketball,FR
73,GUARD,"5'7""",5,KJ VELDMAN,"SPIRIT LAKE, IA",SPIRIT LAKE,2014-15,Women's Basketball,SO
74,GUARD,"5'10""",11,EMILY DINGER,"SUNNYVALE, CA",ARCHBISHOP MITTY,2014-15,Women's Basketball,SO
83,FORWARD,"6'2""",30,MAXINE OFFIAELI,"SOUTH WINDSOR, CT",LOOMIS CHAFFEE,2014-15,Women's Basketball,FR

In [105]:
df6[df6['Class Year'] != 'SR']

,Position,Height,Number,Name,Hometown,School,Roster,Team,Class Year
71,GUARD,"5'7""",1,MEGAN REILLY,"NORWOOD, NJ",THE LAWRENCEVILLE SCHOOL,2014-15,Women's Basketball,FR
72,FORWARD,"5'10""",2,SAVANNAH JOHNSON,"FORT WASHINGTON, MD",ELIZABETH SETON,2014-15,Women's Basketball,FR
73,GUARD,"5'7""",5,KJ VELDMAN,"SPIRIT LAKE, IA",SPIRIT LAKE,2014-15,Women's Basketball,SO
74,GUARD,"5'10""",11,EMILY DINGER,"SUNNYVALE, CA",ARCHBISHOP MITTY,2014-15,Women's Basketball,SO
75,GUARD,"5'9""",12,REBECCA MUSGROVE,"PLAINVIEW, NY",ST. ANTHONY'S,2014-15,Women's Basketball,SO
76,GUARD,"5'10""",13,JORDIN ALEXANDER,"FISHERS, IN",HAMILTON SOUTHEASTERN,2014-15,Women's Basketball,JR
79,GUARD,"5'10""",20,ELLISE SHARPE,"TIPP CITY, OH",TIPPECANOE HIGH SCHOOL,2014-15,Women's Basketball,JR
80,FORWARD,"6'2""",21,JANIE WHITE,"CLARKSVILLE, TN",ROSSVIEW,2014-15,Women's Basketball,FR
83,FORWARD,"6'2""",30,MAXINE OFFIAELI,"SOUTH WINDSOR, CT",LOOMIS CHAFFEE,2014-15,Women's Basketball,FR
84,FORWARD,"6'0""",32,KENNEDY MARTIN,"LOS ANGELES, CA",BRENTWOOD SCHOOL,2014-15,Women's Basketball,FR
85,FORWARD,"5'11""",34,NATALIE BALL,"ORLANDO, FL",TRINITY PREPARATORY,2014-15,Women's Basketball,JR

In [106]:
df_inner_6

               Name
0      MEGAN REILLY
1  REBECCA MUSGROVE
2  JORDIN ALEXANDER
3     ELLISE SHARPE
4       JANIE WHITE
5    KENNEDY MARTIN
6      NATALIE BALL

In [90]:
df7_outer = df7[df7['Class Year'] != 'SR'][~df7[df7['Class Year'] != 'SR']['Name'].isin(df_inner_7['Name'])].dropna()

In [91]:
df8_outer = df8[df8['Class Year'] != 'SR'][~df8[df8['Class Year'] != 'SR']['Name'].isin(df_inner_8['Name'])].dropna()

In [92]:
df9_outer = df9[df9['Class Year'] != 'SR'][~df9[df9['Class Year'] != 'SR']['Name'].isin(df_inner_9['Name'])].dropna()

In [93]:
df10_outer = df10[df10['Class Year'] != 'SR'][~df10[df10['Class Year'] != 'SR']['Name'].isin(df_inner_10['Name'])].dropna()

In [94]:
df_left_team = df1_outer.append([df2_outer, df3_outer, df4_outer, df5_outer, df6_outer, df7_outer, df8_outer, df9_outer, df10_outer])

In [95]:
df_left_team.to_csv('women_left_team.csv', index=False)

In [96]:
df_left = pd.read_csv('women_left_team.csv')

In [97]:
df_left

,Position,Height,Number,Name,Hometown,School,Roster,Team,Class Year
0,FORWARD,"6'0""",4,BETSY JACOBSON,"ROCHESTER, NY",OUR LADY OF MERCY,2009-10,Women's Basketball,JR
1,GUARD,"5'10""",12,SADIEA WILLIAMS,"LUNENBURG, MA",LUNENBURG,2009-10,Women's Basketball,RS
2,GUARD,"5'7""",14,CHRISTINA JOHNSON,"OAKLAND, CA",ST. MARY'S,2009-10,Women's Basketball,RS
3,GUARD,"5'8""",15,COURTNEY LEE,"ARCHER, FL",OAK HALL,2009-10,Women's Basketball,RS
4,GUARD/FORWARD,"6'1""",21,ALYSSA BLOOD,ENGLAND,THE AMERICAN SCHOOL,2009-10,Women's Basketball,JR
5,GUARD/FORWARD,"6'0""",32,SARAH DELK,"ATLANTA, GA",WESLEYAN SCHOOL,2009-10,Women's Basketball,RS
6,FORWARD/GUARD,"6'1""",42,TAYLOR MASASCHI,"CHATHAM, MA",CHATHAM,2009-10,Women's Basketball,RS
7,GUARD,"5'6""",22,LAURA KOBASHIGAWA,"PLAYA DEL REY, CA",BRENTWOOD,2010-11,Women's Basketball,FR
8,GUARD,"5'10""",25,LINDSAY STEELE,"ERIAL, NJ",TIMBER CREEK,2010-11,Women's Basketball,JR
9,GUARD,"5'8""",11,JACQUELINE SCHONINGER,"NEW YORK, NY",FIELDSTON SCHOOL,2011-12,Women's Basketball,SO
10,FORWARD,"6'2""",13,MADDY PAGE,"IRVINE, CA",WOODBRIDGE,2012-13,Women's Basketball,SO
11,GUARD/FORWARD,"5'11""",21,MAGGIE SMITH,"LILBURN, GA",PARKVIEW HIGH SCHOOL,2012-13,Women's Basketball,JR
12,FORWARD,"5'10""",2,SAVANNAH JOHNSON,"FORT WASHINGTON, MD",ELIZABETH SETON,2014-15,Women's Basketball,FR
13,GUARD,"5'7""",5,KJ VELDMAN,"SPIRIT LAKE, IA",SPIRIT LAKE,2014-15,Women's Basketball,SO
14,GUARD,"5'10""",11,EMILY DINGER,"SUNNYVALE, CA",ARCHBISHOP MITTY,2014-15,Women's Basketball,SO
15,FORWARD,"6'2""",30,MAXINE OFFIAELI,"SOUTH WINDSOR, CT",LOOMIS CHAFFEE,2014-15,Women's Basketball,FR
16,GUARD,"5'9""",12,REBECCA MUSGROVE,"PLAINVIEW, N.Y.",ST. ANTHONY'S,2015-16,Women's Basketball,JR
17,FORWARD,"6'0""",32,KENNEDY MARTIN,"LOS ANGELES, CALIF.",BRENTWOOD SCHOOL,2015-16,Women's Basketball,SO
18,GUARD,"5'8""",33,ABBY O'KEEFE,"ST. LOUIS, MO.",WORCESTER,2016-17,Women's Basketball,FR
19,FORWARD,"6'2""",23,MELISSA HEATH,HO-HO-,"KUS, N.J. NORTHERN HIGHLANDS REGIONAL",2017-18,Women's Basketball,JR
20,FORWARD,"6'2""",25,KATHLEEN RYAN,"CLARENCE CENTER, N.Y.",BUFFALO ACADEMY OF THE SACRED HEART,2017-18,Women's Basketball,SO
21,CENTER,"6'5""",34,JENNA BENZINGER,"WILLIAMSTOWN, MASS.",MT. GREYLOCK REGIONAL,2017-18,Women's Basketball,FR
22,CENTER,"6'2""",40,LAMES ELGAMMAL,"BALDWIN, N.Y.",BALDWIN,2017-18,Women's Basketball,SO
23,GUARD,"5'8""",2,NINA MEHTA,"SAN FRANCISCO, CALIF.",INTERNATIONAL,2018-19,Women's Basketball,FR
24,FORWARD,"6'0""",5,MORGAN CLAUSEN,"ALGONQUIN, ILL.",HUNTLEY,2018-19,Women's Basketball,SO
25,FORWARD,"6'0""",11,SAVANNAH LEWIS,"WESTLAKE VILLAGE, CALIF.",SIERRA CANYON,2018-19,Women's Basketball,SO
26,GUARD,"5'5""",22,RANDI RICHARDSON,"FLINT, MICH.",CARMAN-AINSWORTH,2018-19,Women's Basketball,JR

In [98]:
df_retention = pd.read_csv('women_retention_rate.csv')

In [100]:
df_retention['rate'] = df_retention['lost']/df_retention['eligible']*100

In [101]:
df_retention

   period  lost  eligible       rate
0       1     7        14  50.000000
1       2     2        14  14.285714
2       3     1        13   7.692308
3       4     2        13  15.384615
4       5     0        10   0.000000
5       6     4        11  36.363636
6       7     2         9  22.222222
7       8     1        13   7.692308
8       9     4        15  26.666667
9      10     4        12  33.333333

In [102]:
def count_experience(name):
    # a function that counts the number of times a name in the dataframe of players who left appears in the master dataframe of all rosters
    name = name
    return len(df_women[df_women['Name']==name])

In [103]:
df_left['experience'] = df_left['Name'].apply(lambda x: count_experience(x))

In [104]:
df_left['experience'].value_counts(normalize=True)

1    0.481481
2    0.370370
3    0.148148
Name: experience, dtype: float64

In [ ]:
#like in the case of men, the majority of people who quit have been on the team for only one year